/** { box-sizing: border-box; }*/
*{
  font-family: 'Playfair Display', serif;
}

#header {
 background-color: pink;
 margin: -10px;
}

#header a {
 text-align: center;
 padding: 12px 0;
 /*transition: all 0.3s ease;*/
 /*color: white;*/
 font-size: 20px;

}

.mt {
 /*width:60vw;*/
 text-align: center;
 display: flex;
 /*padding-left: 545px;*/
 /*flex-direction:row;*/
 justify-content: center;
 margin-top: 5%;
 font-weight: bolder;
 

}

body {
 background-image: url(mission1.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}

.contactForm form {
 display: flex;
 flex-wrap: wrap;
 width: 80%;
 justify-content: center;
 background: transparent;
 margin: 0 auto;
 
}

.contactForm {
 padding-top: 50px;
 margin: 0 auto;
 width: 300px;
 background: transparent;
 /*padding: 10px;*/
}

label,
input {
 display: block;
}

form div {
 margin: 10px;
}

.contactForm h2 {
 text-align: center;
  background:rgb(253, 224, 206,0.7);
  font-weight:bold;

}

.btn1 {
 margin: 0;
/*padding-bottom:  0px;*/
 /*border: 20px;*/
 /*color: black;*/
 background-color: transparent;
 font-size: 50px;
 border:none;
}

.btn1 a {
 color: black;
 /*position: relative;*/
 bottom: 10px;
}

.button {
margin: 0px;
 display: flex;
 justify-content: flex-start;
}

.mission {
 display: flex;
 justify-content: center;
 text-align: center;
 flex-direction: column;
 margin-left: 10%;
 margin-right: 10%;
 font-weight:bolder;
 background:rgb(253, 224, 206,0.7);

}
.mission h5{
 font-weight: bolder;
}
.mission h2{
 font-weight: bolder;
}

