
* { box-sizing: border-box; }

#header{
background-color:pink;
margin:-10px;
}

#header a{
  text-align: center;
  padding: 12px 0;
  /*transition: all 0.3s ease;*/
  /*color: white;*/
  font-size: 20px;
}

h2{
display: flex;
justify-content:center;
}
 body{
background-image:url(https://cdn.dribbble.com/users/2840222/screenshots/11479668/media/d785bb274ebee85e93825371e62e8799.png?compress=1&resize=400x300); 
 background-repeat: no-repeat;
  background-size:cover;
}

.contactForm form{
 display: flex;
 flex-wrap: wrap;
 width: 80%;
 justify-content: center;
 background:pink;
 margin:0 auto;
}

.contactForm{
 margin: 0 auto;
 width: 300px;
 background: grey;
 padding: 1px;
}
label, input{
 display: block;
}

form div{
margin: 10px; 
}

.contactForm h2{
 text-align: center;
}

 
